.response-section {
  margin-top: 15px;
  margin-bottom: 60px;
}

.response-text {
  font-size: 1.5rem;
  margin-top: 5px;
}

.response-new-search {
  margin-top: 50px;
}

.response-new-search p {
  font-weight: bold;
}

.response-new-search p:hover {
  cursor: pointer;
  color: #d3d3d3;
}


